# User's Makefile
Makefile

# Manifest files
Manifest.toml

# Local tests
messages
threads
users
channels.json
names.json

# Yarn files
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Build
public/build
