# User's Makefile
Makefile

# Project files
Project.toml
Manifest.toml
export.jl
check.jl

# Slack history
src/history

# Yarn files
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Build
public/build
